.pages-3 {
  width: 300%;
}

.slider {
  transform: translateX(0);
}

.slider.page-0 {
  transform: translateX(0);
}

.slider.page-1 {
  transform: translateX(-33.3333%);
}

.slider.page-2 {
  transform: translateX(-66.6667%);
}
